.container-image{
  border-radius: 100%;
  overflow: hidden;
    width:65px;
    height:60px;
    border-radius:100%;
    box-shadow: rgb(240, 240, 240) 4px 4px 4px 4px;
}
.container-image img{
    padding:10px;
    margin-top: 15%;
    width:60px;
}