.edit-account,
.selected {
  font-size: var(--fz-destop-1);
  font-family: "Poppins", sans-serif;

}
.form-edit {
  width: 70%;
  margin: 100px auto;
}
.form-edit .main_title {
  text-align: center;
  font-weight: var(--fw-3);
  font-size: var(--fz-destop-4);
  margin-bottom: 10px;
  color: var(--color-1);
}
.form-edit-account .edit-avatar {
  width: 100%;
}

.edit-avatar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 30px;
  border-radius: 12px;
  &-img{
    width: 200px;
    height: 200px;
    & img{
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;

    }
  }
}
.edit-avatar .user-name {
  font-size: var(--fz-destop-2);
  font-weight: var(--fw-4);
  color: var(--color-4);
  margin: 10px 0;
}
.btn-item {
  width: 100%;
  font-size: 14px;
  border: 3px solid var(--color-4);
}
.btn-item:hover {
  color: var(--color-3);
  border: 3px solid var(--color-3);
  background-color: var(--color-5);
}
.img-item {
  width: 100%;
}
.upload-picture {
  // position: relative;
  // overflow: hidden;
  // display: inline-block;
  // margin-left: 5px;
}
.upload-picture input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.form-edit .form-edit-account {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  font-size: 16px;
  margin-top: 36px;
}
.form-edit-information .edit-item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.fields {
  margin: 17px 40px;
}
.fields input,
#selected,
.field_address {
  margin: auto;
  margin-top: 10px;
  transition: 0.3s;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  color: var(--color-3);
  font-size: var(--fz-destop-1);
  border-radius: 12px;
  border: 1px solid rgb(211, 211, 211) ;
  &::placeholder{
    color: var(--color-3);
    font-weight: var(--fw-2);
  }
}
.field_address {
  height: 80px;
  padding: 20px !important;
}
.buttont-save {
  display: flex;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 1062px) {
  // .edit-account {
  //   z-index: 1;
  // }
  .form-edit-account .edit-avatar {
    margin: 60px 30px;
  }
  .buttont-save {
    margin-left: 190px;
  }
  .form-edit-account .edit-avatar {
    margin: 60px 30px;
  }
  .edit-avatar {
    width: 90%;
  }
  .upload-picture {
    margin-left: -15px;
  }
}
