:root{
    
}
.Footer{
    background-color: var(--color-3);
    display: flex;
    align-items: center;
    & a{
        color: var(--color-5);
        text-decoration: none;
        font-size: var(--fz-destop-1);
    }
}
.footer--content{
    max-width: 1200px;
    width: calc((1200px * 100%) / 1440px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.Footer .logo a{
    width: 260px;
    height: 80px;
    background-color: var(--color-5);
    box-shadow: 5px 5px 0px #FF8643;
}
.footer--media{
    display: flex;
    flex-direction: row;
    gap: 40px;
    & a{
       display: flex;
       align-items: center;
       justify-content: center;
        width: 50px;
       height: 50px;
        text-align: center;
        font-size: 22px;
        border: 2px solid var(--color-5);
        border-radius: 100px; 
    }
    & a:hover{
        color: var(--color-3);
        background-color: var(--color-5);
    }
}
.footer--content div{
    padding: 15px 0;
}
@media only screen and (max-width: 1060px){
    .footer--content{
        flex-direction: column;
    }
    .Footer a{
        font-size: var(--fz-destop-2);
    }
}
@media screen and (min-width: 1061px){
    .nav-list{
        display: block !important;
    }
}
