
:root {
    --w-lg-rgt: 50%;
    --pd-form: 13%;
    --w-input-field: 85%;
    --mgf-submit-btn: 12%;
}

.formApply {
    &__container{
        margin: 80px auto;
        display: flex;
        flex-direction: row;
        max-width: 90%;
        min-height: 90vh;
    }
    &__input{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        &--text{
            display: flex;
            flex-direction: column;
            width: 80%;
            padding-bottom: 5px;
            gap: 10px;
            & input{
                outline: none;
                padding-left: 20px;
                color: var(--color-3);
                font-size: var(--fz-destop-1);
                border-radius: 12px;
                border: 1px solid rgb(211, 211, 211);
                height: 50px;
            }
            & input:hover{
                border: none;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
        

  &--file::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  &--file::before {
    content: 'Select your CV';
    color: var(--color-5);
    display: inline-block;
    background: var(--color-3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  &--file:active {
    outline: 0;
  }


  &--file__cover-letter::-webkit-file-upload-button {
    visibility: hidden;
  }
  
  &--file__cover-letter::before {
    content: 'Select your cover letter';
    color: var(--color-5);
    display: inline-block;
    background: var(--color-3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 10px 8px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  &--file__cover-letter:active {
    outline: 0;
  }
  &--submit {
    background-color: var(--color-4);
    color: var(--color-5);
  }
  &--control {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 10px;
  }
    }
    &__preview{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border: 1px solid var(--color-3);
    }
}

@media only screen and (max-width: 1020px){
    .formApply__container{
      flex-direction: column;
    }
    .formApply__input{
        width: 100%;
    }
    .formApply__preview{
        width: 100%;
    }
  }
