
:root {
    --w-lg-rgt: 50%;
    --pd-form: 13%;
    --w-input-field: 85%;
    --mgf-submit-btn: 12%;
}

.formApply {
    height: 100vh;
    margin: 80px auto;
    text-align: center;
    &-heading {
        font-size: var(--fz-destop-4);
        color: var(--color-4);
    }
    &__field {
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        gap: 20px;
        padding-left: 14%;
    }
    .select {
        width: 100%;
        padding: 20px 0 15px 0;
        margin: auto;
        border: none;
        border-bottom: 1px solid var(--color-3);
        outline: none;
        border-radius: 0;
        font-size: var(--fz-destop-2);
        color: var(--color-3);
        font-weight: var(--fw-1);
    }
}

.input-field {
    width: var(--w-input-field);
    & input {
        width: 100%;
        //height: 4.5rem;
        padding: 20px 0 15px 0;
        border: none;
        border-bottom: 1px solid var(--color-3);
        margin: auto;
        outline: none;
        font-size: var(--fz-1);
        &::placeholder {
            font-size: var(--fz-destop-2);
            color: var(--color-3);
            font-weight: var(--fw-1);
        }
    }
    #inputTag{
        outline: none;
        font-size: var(--fz-destop-2);
        color: var(--color-3);
        font-weight: var(--fw-1);
    }
    & textarea {
        font-size: var(--fz-destop-2);
        font-weight: var(--fw-1);
        color: var(--color-1);
        &::placeholder {

        color: var(--color-3);
        }
    }
}
