*{
    box-sizing: border-box;
}


.core-ui{
    &__formApply{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;
        width: 100%;
        margin: 12px 0;
        font-size: var(--fz-destop-2);
        .form{
            color: var(--color-4);
            width:40%;
            .row:after {
                content: "";
                display: table;
                clear: both;
            }
            .col-left{
                float: left;
            }
            .col-right{
                float: right;
            }
            .col-left, .col-right {
                width: 45%;
                // margin-right: 15px;
            }
            .col{
                width: 100%;
            }
            input, select{
                padding: 15px;
                margin: 20px 0;
                width: 100%;
                text-transform: capitalize;
                font-weight: bolder;
                border: 1px solid white;
                outline: none;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
                font-size: var(--fz-destop-1);
            }
            input::placeholder{
                color: var(--color-4);
            }
            input:focus{
                box-shadow: 5px 10px 10px 5px rgb(223, 231, 234);
            }
        }
    }
}