:root {
  --nav-height: 80px;
  --content-width: 88vw;
}
.navigation {
  height: var(--nav-height);
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  z-index:999;
  background-color: var(--color-5);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--content-width);
  margin: 0 auto;
  width: var(--content-width);
  line-height: var(--nav-height);
}

.logo {
  float: left;
  & a {
    display: flex;
    align-items: center;
  }
}
.nav-mobile {
  display: none;
}

nav {
  display: block;
  float: right;
  & #nav-list {
    // display: block;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      float: left;
      padding: 0 2vw;
      & a {
        font-weight: var(--fw-4);
        text-decoration: none;
        color: var(--color-1);
      }
      & a:hover {
        border-bottom: 3px solid var(--color-4);
      }
    }
  }
  & .nav-button {
    float: right;
    & Button {
      margin: 0 1vw;
    }
  }
}
.nav-list-navmobile{
  display: none;
}

@media only screen and (max-width: 1060px) {
  .nav-list-navmobile {
    display:flex ;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    background-color:var(--color-3);
  }
  .nav-list{
    display: none;
  }
  .nav-container{
    position: relative;
  }

  .nav-button {
    display: none;
  }
  .nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    & span {
      width: 35px;
      height: 5px;
      background-color: var(--color-1);
    }
  }
}
@media screen and (min-width: 1061px) {
  #nav-list {
    display: block !important;
  }
}