:root {
  --nav-height: 80px;
}
.wrapper{
  max-width: 1440px;
  margin: 0 auto;
}
.navigation {
  max-width: 1440px;
  width: 100%;
  height: var(--nav-height);
  margin: 0 auto;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index:999;
  background-color: var(--color-5);
}
.scrollNavbar{
  box-shadow: 0px 3px 5px rgba(95, 95, 95, 0.25);
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc((1300px *100%)/1440px) ;
  margin: 0 auto;
  max-width: 1300px;
  line-height: var(--nav-height);
}

.logo {
  float: left;
  & a {
    display: flex;
    align-items: center;
  }
}
.nav-mobile {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  float: right;
  & #nav-list {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    & li {
      float: left;
      padding: 0 20px;
      & a {
        font-size: var(--fz-destop-1);
        font-weight: var(--fw-4);
        text-decoration: none;
        color: var(--color-1);
      }
      & a:hover {
        border-bottom: 3px solid var(--color-4);
      }
      & .active{
        border-bottom: 3px solid var(--color-4);
      }
    }
  }
  & .nav-button {
    float: right;
    & Button {
      margin: 0 calc(25px / 2);
    }
  }
  & .nav-account{
    position: relative;
    padding-left: 20px ;
    & .nav-account__drop{
      position: absolute;
    }
    &__img{
      // width: 70px;
      // height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      & img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
        box-shadow: 0px 3px 5px rgba(95, 95, 95, 0.25);
      }
      & .nav-account__icon{
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
        
      }
     
    }
    & .show{
      display: block !important;
    }
    & .nav-account__drop{
      display: none;
      top: 65px;
      right: 0;
      // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;
      filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.4));
      
      & .nav__drop{
        position: relative;
        display: flex;
        flex-direction: column !important;
        & .traingle{
          top: -7px;
          right: 30px;
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 7px 7px 7px;
          border-color: transparent transparent rgb(255, 255, 255) transparent;
        }
        & li{
          padding: 20px 20px;
          text-align: right;
          border-radius: 5px;
          line-height: 0 !important;
          & a{
            font-size: var(--fz-destop-1);
            font-weight: var(--fw-3);
            color:var(--color-3);
            text-decoration: none;
          }
          & a:hover{
            border-bottom: 2px solid var(--color-2);
          }
        }
      }
    }
  }
}


.nav-list-navmobile{
  display: none;
}


@media only screen and (max-width: 1060px) {
  .nav-list-navmobile {
    display:flex ;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    background-color:var(--color-3);
    animation: slideNavbar 800ms ;
    transition-property: top;
  }
  @keyframes slideNavbar {
    from {top:-200px}
    to { top: 80px;}
  }
  .nav-list{
    display: none;
  }
  .nav-container{
    position: relative;
  }

  .nav-button {
    display: none;
  }
  .nav-mobile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    & span {
      width: 35px;
      height: 5px;
      background-color: var(--color-1);
    }
  }
}
@media screen and (min-width: 1061px) {
  #nav-list {
    display: block !important;
  }
}