.content{
    max-width: 1200px;
    width: calc((1200px *100%)/1440px) ;
    margin: var(--content-magintop) auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    & .titel{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
        color: var(--color-3);
        font-size: var(--fz-destop-5);
        font-style: italic;
        font-weight: var(--fw-5);
        & h1{
        }
    }
    & .banner{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    & .content--btn{
        display: none;
    }
}

@media only screen and (max-width: 1060px) {
    .content {
        & .content--btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
        }
    }
}
