
.Information{
    font-size:14px;
    display:flex;
    width: 50%;
    margin: 0 0 5%  0 ;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 10px 0 rgb(243, 242, 242), 0 6px 10px 0 rgb(243, 242, 242);
    &__Denform{
        margin-left:4%;
    }

}
.Time-posting{
    font-size: 12px;
    color: lightgray;
}
.Content-recruiment{
    padding: 3% 0;
}

.Content-recruiment{
    line-height: 1.3rem;

}

@media only screen and (max-width : 850px) {
    .Saving-descrpition{
        width: 100%;
    }
}
.Model-form{
    display: none;
}
@media only screen and (max-width : 780px) {
    .Information{
       width: 100%;
    }
    .Model-form{
        display: block;
    }
}
.Information__Deimage{
    
}