.Information{
    font-size:14px;
    border: 1px lightgray double;
    display:flex;
    width: 50%;
    margin: 0 0 5%  0 ;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px 0 lightgray, 0 12px 20px 0 lightgray;
    &__Denform{
        margin-left:4%;
    }

}
.Information{
    font-size:14px;
    border: 1px lightgray double;
    display:flex;
    width: 50%;
    margin: 0 0 5%  0 ;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 5px 0 lightgray, 0 12px 10px 0 lightgray;
    &__Denform{
        margin-left:4%;
    }

}
.Time-posting{
    font-size: 12px;
    color: lightgray;
}
.Content-recruiment{
    padding: 3% 0;
}

@media only screen and (max-width : 850px) {
    .Saving-descrpition{
        width: 100%;
    }
}
.Model-form{
    display: none;
}
@media only screen and (max-width : 780px) {
    .Information{
       width: 100%;
    }
    .Model-form{
        display: block;
    }
}