.container-components{
    display: grid;
    margin: 1% 0%;
    z-index: -99;
}
.overll-component{
    margin-top: 90px;
}
.lef-component{
    margin-left: 52%;
    background-attachment: fixed;
    position: fixed;
}
.Offering-part{
font-size: 30px;
    margin: 0 6%;
}
.overll-component{

}
@media only screen and (max-width : 850px) {
    .Offering-part{
            margin: 0 3%;
    }
  }
  @media only screen and (max-width : 780px) {
    .lef-component{
        display: none;
    }
  }
  @media only screen and (max-width : 500px) {
    .lef-component{
    }
  }
  
  