.overll-component{
    width: 100%;
    min-height: 100vh;
}
.job-list__container{
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width : 850px) {
    .offering-part{
            margin: 0 3%;
    }
  }
  @media only screen and (max-width : 780px) {
    .lef-component{
        display: none;
    }
  }

  
  