.content--pnv-partners{
    // height: auto;
    & .list--pnv-parners{
        margin: 30px 0;
    }
}

.title--pnv-partners{
    padding: 20px;
    max-width: 300px;
    font-weight: var(--fw-5);
    & h1{
        font-size: var(--fz-destop-3);
    }
    & span{
        background-color: var(--color-4);
        width: 100%;
        height: 2px;
        display: block;
        box-shadow: 10px 4px 0px var(--color-3);
    }
}
.slick-next{
    // right: 0 !important;
}
.slick-prev:before, .slick-next:before {
    color:var(--color-4);
}
.pnv--partner-item{
//    width: 100%;
   max-width: 200px;
   height: auto;

    & a{
        width: 100%;
        & img{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1060px) {
    .title--pnv-partners{
        width: 35vw;
    }  
    .pnv--partner-item{
        max-width: 20vw;

} 
}
@media screen and (max-width: 700px) {
    .slick-prev , .slick-next{
        display: none !important;
    }
    .pnv--partner-item{
        max-width: 30vw;

}


}
@media screen and (max-width: 480px) {
    .pnv--partner-item{
        max-width: 150px;
     }
     .pnv--partner-item{
        max-width: 30vw;

}

}
