*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

:root {
    --bg-component:#EE712F;
    --bg-color:#FFFFFF;
    --fs-content:13px;
    --martop-title:1%;
    --wofferbu-Fircom:10%;
    --wofferbu-Fircom2:10%;
    --heigt-Fircom:40px;
    --magl-fircom:5%;
    --word-color:white;
    --pd-buton:10px;
    --boder-radi:10px;
    --width-option:100%;
    --fx-option:14px;
}
.customize-part{
  z-index:9999;

}
.offering{
    margin-top:var(--martop-title);
    display:flex;
    &__Saved-jobs  {    
        font-size: var(--fs-content); 
        text-align:center;
        width: var(--wofferbu-Fircom2);
        h1{
          width: 124px;
            border-radius:var(--boder-radi);
            border:1px double lightgray; 
            padding:var(--pd-buton);
        }
        span{
            color: var(--bg-component)
        } 
    }
    &__application {    
        font-size: var(--fs-content); 
        text-align:center;
        color: black;
        margin-left: var(--magl-fircom);
        width: var(--wofferbu-Fircom);
        h1{
            width: 124px;
            border-radius:var(--boder-radi);
            padding:var(--pd-buton);
            border:1px double lightgray; 
        } 
        span{
          color: var(--bg-component);
        }
    }
}


/* Design select */
.select select{
  font-size: 13px;
  outline: 0;
  
  border: 0 !important;
  background: white;
  background-image: none;
}
.select {
  display: flex;
  width: 12%;
  height: 30%;
  line-height: 3;
  background: #fff;
  overflow: hidden;
  border: 1px double lightgray;
  border-radius: 10px;
  border-radius: .25em;
}

.select select {
  flex: 1;
  padding: 0 ;
  cursor: pointer;
}

.chosing{
  display: flex;
  margin: 0px 5.5%;

}

.select{
  margin: 10px 0.4%;
}
.offering{
  margin: 1% 6%;
}
.overal-Chosingg{
	background-color: #F7F7F8;
}

@media only screen and (max-width : 1290px) {
  .select{
    width:11%;
  }
}

@media only screen and (max-width : 1072px) {
  .select{
    width:15%;
  }
}

@media only screen and (max-width : 773px) {
.select{
  width:20%;
}

.offering__Saved-jobs h1{
  width:129px;
  margin-right: 0%;
}
}

@media only screen and (max-width : 579px) {
  .select{
    width:26%;
  }
  
}

@media only screen and (max-width : 464px) {
  .select{
    width:37%;
  }
  .select select{
    font-size: 11px;
  }
  .offering__application h1{
    font-size: 12px;
    border:none; 
  }

  .offering__Saved-jobs h1 {
    font-size: 12px;
    width: 90%;
    border:none; 
  }

  .offering{
    width: 90%;
  }

  .chosing{
    width: 90%;
    display: flex;
    margin: 0px -1%;
    }
}
@media only screen and (max-width : 1120px) {
  .offering__Saved-jobs{
    width:14%;
  }
  .select{
    width: 19%;
  }
}

@media only screen and (max-width : 900px) {
  .offering__Saved-jobs{
    width:14%;
    margin-right: 4%;
  }
}

@media only screen and (max-width : 592px) {
  .offering__Saved-jobs h1 {
    width:120px;
  }
  .offering__application h1{
    margin-left: 20px;
  }
}

@media only screen and (max-width : 850px) {
  .chosing{
    margin: 0px 2%;
    }
    .select{
    margin: 5px 1%;
    }
  .offering{
    margin: 2% 2%;
  }
  .offering__application h1{
    font-size: 13px;
  }
  .offering__Saved-jobs h1 {
    font-size: 13px;
  }
}