*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.searching{
  &__container{
    max-width: 70%;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 30px;
  }
  &__filter__list{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-direction: row;
  }
  &__filter__reset{
    text-align: right;
    margin-top: 10px;
  }
  &__item{
    height: 30px;
    width: 100%;
    & input{
      height: 100%;
      color: inherit;
      outline: 1px solid var(--color-3);
      border-radius: 4px;
      width: 100%;
      border: none;
      padding-left: 3px;
    }
    & select{
      height: 100%;
      color: inherit;
      outline: 1px solid var(--color-3);
      border-radius: 4px;
      width: 100%;
      border: none;
    }
    &--range input{
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      background: var(--color-3);
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
      }
    &--range input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      background: var(--color-4);
      cursor: pointer;
    }
    & .min::-webkit-slider-thumb{
      clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    }
    & .max::-webkit-slider-thumb{
      clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    }
    &--range__item{
      display: flex;
      width: 100%;
      gap: 5px;
      justify-content: space-between;
    }
    &--range__item output{
      min-width: 20%;
    }
  }
}


@media only screen and (max-width: 798px){
  .searching__filter__list{
    flex-direction: column;
  }
}