.location{
    display:flex;
    font-size: 12px;
    margin-top: 5px;
}
.icon-location{
    color:#ED702E;

}
.container-tab{
    display: flex;
}
.icon-location{
    margin:0 4px;
}
.address{
    margin-left: 0px;
}